@import "./about.css";
@import "./blog.css";
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

:root {
  --lifted-crownz: hsl(43, 67%, 46%, 1);
  --solar-plexus: hsl(47, 100%, 62%, 1);
  --soft-blue: hsl(215, 51%, 70%);
  --blueberry-muffin: hsl(244, 90%, 68%);
  --cyan: hsl(178, 100%, 50%);
  --barney: hsl(271, 56%, 72%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: nav-menu;
}

.item3 {
  grid-area: blog-card;
}

.item4 {
  grid-area: quote-container;
}

.item5 {
  grid-area: footer;
}

.main__container {
  grid-template-areas:
    'header nav-menu nav-menu'
    'blog-card blog-card blog-card'
    'quote-container quote-container quote-container'
    'footer footer footer';
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, var(--lifted-crownz) , white);
  border-radius: 44%;
  justify-content: space-between;
  padding: 0 1em;
  max-width: 600px;
  min-height: 20px;
}
/* ############# NAV
   ############# SECTION
*/
.nav__menu {
  font-family:'Delicious Handrawn';
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nav__menu li {
  margin: 0 5px;
  padding: 0px;
}

.nav__menu a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
.nav__menu a,
.nav__menu a:after,
.nav__menu a:before {
  transition: all .5s;
}
.nav__menu a:hover {
  font-size: 100%;
  color: darkgoldenrod;
  text-decoration: overline;
}

.blog__image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.figcaption {
  color: var(--blueberry-muffin);
  font-style: italic;
  padding: 2px;
  text-align: center;
  font-size: xx-small;
}

/* ############# SECTION
   ############# 
*/

.social {
  display: flex;
  flex-direction: column;
}

.footer {
  position: relative;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px){
  .fend-study {
    display: block;
    max-width: fit-content;
  }
}

@media screen and (max-width: 425px) {
  .header-container {
    display: block;
  }

  .nav-menu {
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .google-calendar {
    max-width: 300px;
  }
}